{% load widget_tweaks %}

<div class="modal-header">
  <h3 class="modal-title">Model details</h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class="">
    Name:
    {{ model.name }}
  </div>
  <div class="">
    CPU:
    {{ model.cpu }}
  </div>
  <div class="">
    RAM:
    {{ model.ram }}
  </div>
  <div class="">
    Hard Drive:
    {{ model.hard_drive }}
  </div>
  <div class="">
    Screen:
    {{ model.screen }}
  </div>
  <div class="">
    Vendor:
    {{ model.get_vendor_display }}
  </div>


</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>