{% extends 'base.html' %}

{% block content %}

  {% include "_modal.html" %}

    {% load django_bootstrap_breadcrumbs %}
    {% block breadcrumbs %}
        {{ block.super }}
        {% breadcrumb "Manage" "manage" %}
        {% breadcrumb "Models" "index" %}
    {% endblock %}

    <div class="container mt-3" style="font-size: 75%;">
    <div class="row">
      <div class="col">




        <div class="row">
          <div class="col-12 mb-3">
            <button class="create-model btn btn-primary" type="button" name="button">
              <span class="fa fa-plus mr-2"></span>Create Model</button>
          </div>
                  <h5>
         {% render_breadcrumbs %}
        </h5>
          <div class="col-12 mb-3">
            {% if models %}
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center kla-header" scope="col">#</th>
                    <th class="text-center kla-header" scope="col">Name</th>
                    <th class="text-center kla-header" scope="col">CPU</th>
                    <th class="text-center kla-header" scope="col">RAM</th>
                    <th class="text-center kla-header" scope="col">Hard Drive</th>
                    <th class="text-center kla-header" scope="col">Screen</th>
                    <th class="text-center kla-header" scope="col">Vendor</th>
                    <th class="text-center kla-header" scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for model in models %}
                    <tr>
                      <th class="text-center" scope="row">{{ forloop.counter }}</th>
                      <td class="text-center">{{ model.name }}</td>
                      <td class="text-center">{{ model.cpu }}</td>
                      <td class="text-center">{{ model.ram }}</td>
                      <td class="text-center">{{ model.hard_drive }}</td>
                      <td class="text-center">{{ model.screen }}</td>
                      <td class="text-center">{{ model.get_vendor_display }}</td>

                      <td class="text-center">
                        <!--
                        <button type="button" class="read-model btn btn-sm btn-primary" data-id="{% url 'read_model' model.pk %}">
                          <span class="fa fa-eye"></span>
                        </button>
                        -->
                        <button type="button" class="update-model btn btn-sm btn-primary" title="Update"  data-id="{% url 'update_model' model.pk %}">
                          <span class="fa fa-pencil"></span>
                        </button>
                        <button type="button" class="delete-model btn btn-sm btn-danger" title="Delete" data-id="{% url 'delete_model' model.pk %}">
                          <span class="fa fa-trash"></span>
                        </button>
                        <!--
                        <button type="button" class="updatetest-model btn btn-sm btn-primary" data-id="{% url 'updatetest_model' model.pk %}">
                          <span class="fa fa-pencil"></span>
                        </button>

                        !-->
                        <!--<button type="button" class="delete-model btn btn-sm btn-danger" data-toggle="modal" data-target="#modal" data-id="{% url 'delete_model' model.pk %}"> <span class="fa fa-trash" aria-label="Delete"></span> </button>-->
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <p class="no-models text-primary">No models added yet.</p>
            {% endif %}
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock content %}

{% block extrascripts %}
  <script type="text/javascript">
    $(function () {
      // Log in & Sign up buttons
      $(".login-btn").modalForm({formURL: "{% url 'login' %}"});
      $(".signup-btn").modalForm({formURL: "{% url 'signup' %}"});

      // Create model button
      $(".create-model").modalForm({formURL: "{% url 'create_model' %}"});

      // Update model buttons
      $(".update-model").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Update model buttons
      $(".updatetest-model").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Delete model buttons
      $(".delete-model").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      })

      // Hide message
      $(".alert").fadeTo(2000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
      });

    });
  </script>
{% endblock extrascripts %}
